
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.bottom-pZf {
  box-sizing: border-box;
  padding: 0.6rem 57.5rem 0.6rem 23.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #2a293e;

  .logo-wPP {
    margin: 0rem 15.573rem 0.692rem 0rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .s-1-GRf {
      width: 2.5875rem;
      height: 3.9361rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.3392rem;
    }
    .petro-QGy {
      margin-top: 0.3191rem;
      display: flex;
      font-size: 2rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 700;
      line-height: 1.2;
      color: #ffffff;
    }
  }
  .copyright-by-2023-agyapongdigitalservices-inc-Wau {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3025;
    color: #ffffff;
    font-family: DM Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 0.7274rem;
  }
}
