
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-MaZ {
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .header-yrq {
    width: 100%;
    height: 93.3rem;
    position: relative;

    .bg-gPs {
      width: 144rem;
      height: 75.5rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #fffcf7;
    }
    .service-C7K {
      top: 70.3rem;
      display: flex;
      align-items: center;
      width: 111rem;
      height: 23rem;
      position: absolute;
      left: 20.1rem;

      .item-1-7VB {
        margin-right: 3rem;
        width: 54rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .shadow-qvy {
          box-shadow: 0 1.5rem 6rem rgba(63, 89, 129, 0.1199999973);
          background-color: #ffffff;
          border-radius: 0.7rem;
          width: 49.4rem;
          height: 20.4rem;
          position: absolute;
          left: 2.3rem;
          top: 1.3rem;
        }
        .bg-7Nh {
          border-radius: 0.7rem;
          width: 54rem;
          height: 23rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #ffffff;
        }
        .forma-1-rLH {
          width: 2.1976rem;
          height: 1.6rem;
          position: absolute;
          left: 47.2rem;
          top: 5.1rem;
          object-fit: contain;
          vertical-align: top;
        }
        .group-83-xu7 {
          box-sizing: border-box;
          left: 4rem;
          top: 4.5rem;
          border-radius: 2.5rem;
          padding: 1.689rem 1.778rem 1.729rem 1.778rem;
          width: 8rem;
          height: 8rem;
          position: absolute;
          background-color: #ffc059;

          .group-82-sFP {
            object-fit: contain;
            vertical-align: top;
            width: 4.4444rem;
            height: 4.582rem;
            position: relative;
          }
        }
        .do-you-need-help-support-afb {
          position: absolute;
          font-weight: 700;
          line-height: 1.5;
          white-space: nowrap;
          font-size: 2rem;
          color: #02063d;
          font-family: DM Sans, 'Source Sans Pro';
          width: 25.2rem;
          height: 3rem;
          left: 14.8rem;
          top: 4.5rem;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-eiu-Sxh {
          color: #343d48;
          font-family: DM Sans, 'Source Sans Pro';
          width: 31.6rem;
          height: 9.6rem;
          top: 9rem;
          font-size: 1.5rem;
          position: absolute;
          left: 14.8rem;
          font-weight: 400;
          line-height: 2.1333333333;
        }
      }
      .item-2-i9X {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4.5rem 4.602rem 4.4rem 4rem;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #f5f7fa;
        border-radius: 0.7rem;

        .group-83-d1b {
          padding: 1.689rem 1.778rem 1.729rem 1.778rem;
          background-color: #ffc059;
          border-radius: 2.5rem;
          flex-shrink: 0;
          margin: 0rem 2.8rem 6.1rem 0rem;
          box-sizing: border-box;

          .group-82-8U9 {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            width: 4.4444rem;
            height: 4.582rem;
          }
        }
        .auto-group-ysmp-fDB {
          margin-right: 0.8rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .do-you-need-help-support-zmF {
            line-height: 1.5;
            color: #02063d;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            font-size: 2rem;
            font-weight: 700;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-eiu-dxd {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2.1333333333;
            color: #343d48;
            font-family: DM Sans, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 31.6rem;
          }
        }
        .forma-1-Mdj {
          width: 2.1976rem;
          height: 1.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 11.3rem;
        }
      }
    }
    .ultimate-place-for-purchasing-cheap-and-affordable-data-UiM {
      top: 12.6977rem;
      font-size: 4.8rem;
      font-family: DM Sans, 'Source Sans Pro';
      left: 22.05rem;
      height: 24rem;
      position: absolute;
      font-weight: 700;
      line-height: 1.6666666667;
      letter-spacing: -0.3rem;
      color: #02063d;
      width: 46.4rem;
    }
    .group-81-9pV {
      left: 120.8rem;
      top: 1.9733rem;
      border-radius: 0.5rem;
      position: absolute;
      height: 3.8608rem;
      text-align: right;
      line-height: 2.0625;
      color: #e5a63f;
      font-family: DM Sans, 'Source Sans Pro';
      width: 14.5rem;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 1.6rem;
      background-color: #fff0d7;
      display: flex;
    }
    .home-adversite-supports-marketing--oe9 {
      position: absolute;
      display: flex;
      font-size: 1.6rem;
      font-weight: 400;
      color: #02073e;
      font-family: Roboto, 'Source Sans Pro';
      width: 11.9rem;
      height: 3.3rem;
      white-space: nowrap;
      line-height: 2.0625;
      align-items: baseline;
      left: 44.4rem;
      top: 2.25rem;

      .home-adversite-supports-marketing--oe9-sub-0 {
        font-family: DM Sans, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.0625;
        color: #02073e;
      }
      .home-adversite-supports-marketing--oe9-sub-1 {
        line-height: 2.0625;
        color: #02073e;
        font-family: Heebo, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
      .home-adversite-supports-marketing--oe9-sub-2 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.0625;
        color: #02073e;
        font-family: DM Sans, 'Source Sans Pro';
      }
    }
    .logo-u6q {
      position: absolute;
      left: 23.25rem;
      top: 2.1449rem;
      display: flex;
      align-items: center;
      width: 14.2615rem;
      height: 3.1744rem;

      .s-1-E97 {
        flex-shrink: 0;
        margin-right: 1.0329rem;
        width: 2.3288rem;
        height: 3.1752rem;
        object-fit: contain;
        vertical-align: top;
      }
      .petro-ZhB {
        display: flex;
        font-weight: 700;
        color: #0f2137;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.2574rem;
        font-size: 1.8rem;
        line-height: 1.3333333333;
      }
    }
    .lock-V53 {
      width: 1.5515rem;
      height: 1.9691rem;
      position: absolute;
      left: 116.0927rem;
      top: 2.917rem;
      object-fit: contain;
      vertical-align: top;
    }
    .illustration-Ck9 {
      height: 42.1084rem;
      position: absolute;
      left: 71.7rem;
      top: 20.5051rem;
      object-fit: contain;
      vertical-align: top;
      width: 55.5825rem;
    }
    .mask-group-vg9 {
      top: 56.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 20.5rem;
      height: 12.1rem;
      position: absolute;
      left: 34rem;
    }
    .mask-group-es3 {
      position: absolute;
      left: 21.1rem;
      top: 38.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 20.2rem;
      height: 12.9337rem;
    }
    .mask-group-b1b {
      left: 47rem;
      top: 38.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 20.2rem;
      height: 12.9337rem;
      position: absolute;
    }
    .frame-1-XA9 {
      line-height: 3.3333333333;
      font-family: DM Sans, 'Source Sans Pro';
      justify-content: center;
      width: 16.7rem;
      height: 8rem;
      top: 47.2rem;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      align-items: center;
      border-radius: 1.4rem;
      position: absolute;
      font-weight: 700;
      white-space: nowrap;
      color: #ffffff;
      background-color: #ffc059;
      left: 22.9rem;
      font-size: 2.4rem;
      letter-spacing: -0.3rem;
    }
    .frame-4-xFT {
      position: absolute;
      top: 47.4rem;
      font-size: 2.4rem;
      line-height: 3.3333333333;
      white-space: nowrap;
      border-radius: 1.4rem;
      width: 16.7rem;
      height: 8rem;
      left: 48.8rem;
      font-weight: 700;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      display: flex;
      background-color: #ffc059;
      letter-spacing: -0.3rem;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
    }
    .frame-3-zhw {
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffc059;
      width: 16.7rem;
      top: 64.6rem;
      font-size: 2.4rem;
      font-weight: 700;
      border-radius: 1.4rem;
      position: absolute;
      letter-spacing: -0.3rem;
      color: #ffffff;
      align-items: center;
      height: 8rem;
      left: 35.9rem;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 3.3333333333;
      justify-content: center;
    }
  }
}
